<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>changePassword</title>
</head>

<body>
    <p hidden id="username_for_mail"><%=username%></p>
    <div class="container-fluid bg-dark d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="container bg-light">
            <div class="row pl-3 pt-3">
                <h6>Change your account login details</h6>
            </div>
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-11">The password has to be . . . . </div>
                <div class="col-10">
                    <li style="color: red;">Minimum 8 characters long</li>
                    <li style="color: red;">One UpperCase letter at least</li>
                    <li style="color: red;">One Lowercase letter at least</li>
                    <li style="color: red;">One Number</li>
                </div>
                <div class="col-10 pb-3">
                    <input class="mt-2" type="password" id="newpass" placeholder="New password" name="newpassword"
                        style="width: 50%;" required><br>
                    <input class="mt-2" class="a" type="password" id="confirmpass" placeholder="Confirm password"
                        name="changepassword" style="width: 50%;" required><br>
                        <input type="checkbox" id="p" onclick="showpass()"><label class="ml-2" for="p"> Show Password</label><br>
                    <div class="mt-2" id="show"></div>
                    <div class="btn btn-warning mt-3" type="button" onclick="validation()">Update</div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function showpass() {
            var x = document.getElementById("newpass");
            var y = document.getElementById("confirmpass");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
            if (y.type === "password") {
                y.type = "text";
            } else {
                y.type = "password";
            }
        }
        function validation(){
            let newpassword = document.getElementById("newpass").value;
            let confirmpassword = document.getElementById("confirmpass").value;
            let len_flag = false, cap_flag = false, low_falg = false, num_flag = false;
            let list = document.getElementsByTagName("li");
            let username = document.getElementById("username_for_mail").textContent;
            username=username.trim();
            // console.log(username);
            let obj = { "newpassword": newpassword, "confirmpassword": confirmpassword, "username": username };
            if (newpassword === confirmpassword) {
                if (newpassword.length >= 8) {
                    len_flag = true;
                }
                for (let i = 0; i < newpassword.length; i++) {
                    if (newpassword[i] >= 'A' && newpassword[i] <= 'Z') {
                        cap_flag = true;
                    }
                    if (newpassword[i] >= 'a' && newpassword[i] <= 'z') {
                        low_flag = true;
                    }
                    if (newpassword[i] >= 0 && newpassword[i] <= 9) {
                        num_flag = true;
                    }
                }
                if (len_flag && cap_flag && low_flag && num_flag) {
                    // console.log("hello");
                    let request = new XMLHttpRequest();
                    request.open("POST", "/update");
                    request.setRequestHeader("Content-type", "application/json");
                    request.addEventListener("load", () => {
                        window.location.href = "/home";
                    })
                    request.send(JSON.stringify(obj));
                } else {
                    if (len_flag) {
                        list[0].style.color = "gray";
                    }
                    if (cap_flag) {
                        list[1].style.color = "gray";
                    }
                    if (low_flag) {
                        list[2].style.color = "gray";
                    }
                    if (num_flag) {
                        list[3].style.color = "grey";
                    }
                    let a = document.getElementById("show");
                    a.innerText = "Password validation not match";
                    a.style.color = "red";
                }
            } else {
                let a = document.getElementById("show");
                a.innerText = "Password not match";
                a.style.color = "red";
            }
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>
</body>
</html>